---
- name: Install longhorn dependencies
  ansible.builtin.apt:
    name:
      - open-iscsi
      - curl
      - util-linux
      - grep
      - mawk
      - libblkid1
      - python3-pip
    state: present
    update_cache: true
    cache_valid_time: "{{ longhorn_cache_valid_time }}"
  tags:
    - longhorn
    - longhorn.dependencies

- name: Install ansible dependencies
  ansible.builtin.pip:
    name:
      - kubernetes
      - openshift
      - pyyaml
  tags:
    - longhorn
    - longhorn.dependencies

- name: Add longhorn chart repo
  kubernetes.core.helm_repository:
    name: longhorn
    repo_url: "https://charts.longhorn.io"

- name: Deploy latest version of longhorn chart
  kubernetes.core.helm:
    name: longhorn
    chart_ref: longhorn/longhorn
    release_namespace: longhorn-system
    create_namespace: true
    update_repo_cache: true

# - name: Add Longhorn Ingress
#   kubernetes.core.k8s:
#     state: present
#     template: longhorn-ingress.yml.j2
#   run_once: true
#   when:
#     - longhorn_ingress | bool
#   tags:
#     - longhorn
#     - longhorn.ingress
...
